body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header, .title {
    background-color: #1F2937;
    padding: 30px 125px;
    margin: 0;
    color: #F9FAF8;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;  
}

.logo {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.right-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    text-decoration: none;
}

